<h2>Sign up</h2>

<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>
<fieldset>
	<div class="control-group">
	  <%= f.label :email, :class => 'control-label' %>
	  <div class="controls">
		<div class="input-prepend">
		<span class="add-on"><i class="icon-envelope"></i></span>
	    <%= f.text_field :email, :class => 'text_field' %>
		</div>
	  </div>
	</div>

	<div class="control-group">
	  <%= f.label :password, :class => 'control-label' %>
	  <div class="controls">
		<div class="input-prepend">
		<span class="add-on"><i class="icon-asterisk"></i></span>
	    <%= f.password_field :password, :class => 'password_field' %>
		</div>
	  </div>
	</div>
	
	<div class="control-group">
	  <%= f.label :password_confirmation, :class => 'control-label' %>
	  <div class="controls">
		<div class="input-prepend">
		<span class="add-on"><i class="icon-asterisk"></i></span>
	    <%= f.password_field :password_confirmation, :class => 'password_field' %>
		</div>
	  </div>
	</div>


  <div><%= f.submit "Sign up" %></div>
</fieldset>
<% end %>

<%= render :partial => "devise/shared/links" %>
